@import '@fontsource/fira-mono';

:root {
	--color-primary: #2e8c3c;
	--color-secondary: #83bf29;
	--color-tertiary: #bae4c1;
}

body {
	min-height: 100vh;
	margin: 0;
}

.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}
